<h3>Other resources</h3>
<ul>
  <li><a href="http://woob.tech/">Official website</a></li>
  <li><a href="https://git.woob.tech/woob/woob/issues">Bug Tracker</a></li>
  <li><a href="https://symlink.me/projects/woob/files">Download stable version</a></li>
</ul>
